@tailwind base;
@tailwind components;
@tailwind utilities;

:host {
  display: block;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

p {
  @apply text-on-surface-500;
}

h1 {
  @apply font-heading;
  @apply text-on-surface-600;
  @apply text-4xl;
  @apply font-light;
}

h2 {
  @apply font-heading;
  @apply text-on-surface-600;
  @apply text-3xl;
  @apply font-light;
}

h3 {
  @apply text-on-surface-400;
  @apply text-2xl;
  @apply font-medium;
}

h4 {
  @apply text-on-surface-200;
  @apply text-lg;
  @apply font-medium;
}

.layout,
.layout.horizontal {
  display: flex;
}

.layout.vertical {
  flex-direction: column;
}

.layout .expand {
  flex-grow: 1;
}

a:link,
a:visited {
  font-weight: 500;
  text-decoration: none;

  @apply text-accent;
}

a:hover {
  text-decoration: underline;
}

.fw500 {
  font-weight: 500;
}

.fw100 {
  font-weight: 100;
}

.fw300 {
  font-weight: 300;
}

.fw700 {
  font-weight: 700;
}

button {
  all: unset;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.2s background-color ease;
  cursor: pointer;
  padding-inline: 15px;
  height: 40px;

  @apply rounded;
  @apply text-on-surface-500;
  @apply bg-surface-frost-500;
  @apply hover:outline-2;
  @apply hover:outline-surface-frost-200;
  @apply hover:text-on-surface-900;
  @apply hover:bg-surface-frost-700;
  @apply hover:outline;
}

button ion-icon {
  --ionicon-stroke-width: 24px;
  font-size: 1.2em;
}

ul {
  margin: 0;
  margin-left: 24px;
  padding: 0;
  list-style-position: inside;
  text-indent: -24px;
}
