:host {
  --min-effect-width: 1400px;
  display: contents;
}

.container {
  z-index: 1;
  margin-inline: 20px;
  margin-bottom: 40px;
  width: 100%;
  max-width: 1400px;
  min-height: 100%;
}

.header-effect {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.header-effect::before {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  animation: breathe 4s linear infinite, slide 10s ease-in-out infinite;
  background: transparent;
  background: linear-gradient(
    90deg,
    hsla(310, 57%, 79%, 1) 0%,
    hsla(182, 85%, 76%, 1) 13%,
    hsla(220, 79%, 84%, 1) 33%,
    hsla(202, 85%, 76%, 1) 56%,
    hsla(311, 47%, 88%, 1) 76%,
    hsla(180, 57%, 77%, 1) 100%
  );
  background-size: 200% 100%;
  min-width: var(--min-effect-width);
  height: 100%;
  content: '';
}

.header-effect::after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  animation: scale 6s ease-in-out infinite;
  background: transparent;
  background-position: bottom;
  width: 100%;
  min-width: var(--min-effect-width);
  height: 100%;
  content: '';
  @apply bg-gradient-to-b;
  @apply from-transparent;
  @apply to-neutral-100;
}

@keyframes breathe {
  0% {
    opacity: 40%;
  }

  60% {
    opacity: 55%;
  }

  70% {
    opacity: 80%;
  }

  80% {
    opacity: 55%;
  }

  100% {
    opacity: 40%;
  }
}

@keyframes slide {
  0% {
    background-position: left;
  }

  50% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}

@keyframes scale {
  0% {
    background-size: 100% 100%;
  }

  50% {
    background-size: 100% 200%;
  }

  100% {
    background-size: 100% 100%;
  }
}
