.title {
  margin-block: 40px 10px;
  font-weight: 100;
  font-size: 2.5rem;
}

.projects {
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: var(--box-radius);
  background: var(--box-bg);
  padding: 20px;
  font-weight: 300;
  font-size: 1.125rem;

  & .name {
    margin-bottom: 5px;
  }

  & .description {
    align-items: flex-start;
    gap: 10px;
  }

  & .media {
    display: block;
    transition: 0.1s transform ease;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 100%;
    overflow: hidden;

    &:hover {
      transform: scale(101%);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.22);
      overflow: hidden;
    }

    &.youtube {
      position: relative;
      padding-bottom: 56.25%;
      width: 100%;
      height: 0;

      & .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  & .technology {
    color: rgb(0 0 0 / 45%);
    font-size: 0.925em;
  }
}

@media screen and (min-width: 800px) {
  .project {
    display: grid;
    grid-template-columns: 1fr minmax(400px, 1fr);
  }
}
