:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-block: 30px 50px;
  text-align: center;
}

.about {
  flex: 1 1 auto;
  margin: auto;
}

.profile-picture {
  flex: 0 1 400px;
  text-align: center;
}

img {
  box-shadow: 0 0 30px rgb(0 0 0 / 10%);
  border-radius: 999px;
  height: 200px;
  @apply border-8;
  @apply border-on-surface-300;
}

@media screen and (min-width: 500px) {
  .about {
    & .name {
      font-size: 5rem;
    }

    & .subtext {
      font-size: 1.8375rem;
    }
  }
}
