:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--box-bg);
  padding: 20px;
  border-radius: var(--box-radius);
}

section {
  gap: 15px;
  font-weight: 300;
  font-size: 1.125em;
  margin-top: 10px;
  flex-grow: 1;
}
