:host {
  --inset: 13px;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
  margin-top: 20px;
  height: 70px;
  overflow: auto;
  scrollbar-width: none;

  @apply p-box;
  @apply rounded-box;
  @apply bg-white;
}

:host(.docked) {
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.12);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

:host::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s background-color ease, 0.1s outline ease, 0.15s color ease, 0.1s background-position ease;
  cursor: pointer;
  border-radius: 999px;
  background: var(--page-header-item-default-bg, transparent);
  padding-inline: 12px;
  height: 100%;
  font-size: 1.2rem;
  user-select: none;
  @apply text-neutral-600;
}

.item:not([active]):hover {
  @apply text-accent;
}

.item[active] {
  @apply text-neutral-900;
  @apply font-bold;
}

.item ion-icon {
  font-size: 1.2em;
}

.expand {
  flex-grow: 1;
}
